.auth-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.form-container {
    box-shadow: 0px 0px 4.23466682434082px 0px #00000040;
    border-radius: 15px;
    min-height: 350px;
    width: 400px;
    padding: 45px;

    .form-details {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .auth-title{
            color: #2D4F44;
            text-align: center;
            font-size: 42px;
        }

        .auth-input{
            height: 45px;
            border-radius: 6px;
        }

        .auth-link{
            color: #4181E0;
            font-weight: 700;
            text-decoration: underline;
            margin-left:  5px
        }

        .send-btn {
            font-size: 16px;
            width: 100%;
            height: 40px;
            gap: 10px;
            border-radius: 5px;
            background: linear-gradient(90deg, #69A6D1 0.79%, #9EADC3 30.39%, #99CA91 75.27%);
        }
    }

}